<%- include('../partials/header') %>

<div class="card" style="width: 26rem">
  <table class="table table-striped table-hover table-sm">
    <thead class=thead-light>
      <th scope="col">Details</th>
      <th scope="col">Airline</th>
      <th scope="col">Flight Number</th>
      <th scope="col">Departure Date</th>
      <th scope="col">Departure Time</th>
    </thead>
  <tbody>
    <% flights.forEach(function(flight) { %>
      <% let today = new Date(); %>
      <% let date = flight.departs; %>
    <% if(date < today) { %>
      <% console.log(`************` + date) %>
      <% console.log(`************` + today) %>
      <tr>
          <td><a href="/flights/<%= flight._id %>">View</a></td>
            <td class="text-danger"><%= flight.airline %></td></a>
            <td class="text-danger"><%= flight.flightNumber %></td>
            <td class="text-danger"><%= flight.departs.toDateString() %></td>
            <td class="text-danger"><%= flight.departs.toLocaleTimeString() %></td>
          </tr>
        <% }  else if(date >= today) { %>
          <tr>
            <td><a href="/flights/<%= flight.id %>">View</a></td>
            <td><%= flight.airline %></td>
            <td><%= flight.flightNumber %></td>
            <td><%= flight.departs.toDateString() %></td>
            <td><%= flight.departs.toLocaleTimeString() %></td>
          </tr>
          <% } %>
   <% }) %>
  </tbody>
  </table>
</div>  
  <!-- if the below throw an error its because you have an item  -->
  <!-- in the database with missing value(delete it) -->

  <%- include('../partials/footer') %>